@media (max-width: 768px) {
    .slide_controls {   
        right: 0;
        text-align: center;
        color: purple !important;
        font-weight: bold;
        font-size: 25px;
        cursor: pointer;        
    }


    .main_controls {
        margin-right: 20px;
        margin-left: 15px;        
    }

    .main_controls .carousel-control-next {
        margin-right: 20px;
    }

    .welcome .carousel-caption {
    font-size: 10px;
    margin: auto;
    background-color: transparent;
    border: none;
    }

    .welcome .carousel-caption p {
        font-size: 15px;
        width: 100%;
    }

    .welcome .slide_1 {
        color: #32A4EC;
    }

    .about {
    margin-top: 450px;
    text-align: center;
    background-color: aliceblue;
    min-height: auto;
    
}

.about .about_logo img {
    margin-bottom: auto;
}

.about p {
    color: grey;
    font-weight: bold;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.services .col {
    margin: auto;
}

}



/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
  
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }