/*********Global settings*********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******** Header Settings **********/
.header {
    background-color: #9663E1;
    max-height: fit-content;
    color: #ffffff;    
}

.header .nav-logo {
    margin-top: -50px;
    margin-bottom: -50px;
}

.navbar-nav {
    margin-right: 50px;
}

.nav-link {
    margin-right: 30px;
}

.header .navbar-nav a {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
} 

.header .navbar-nav .active {
    color: #FFA12C !important;
}

.call_us a {
    margin-right: 30px;
    color: wheat;
    font-size: 20px;
    text-decoration: none;
}

.call_us a .call_num {
    padding-left: 10px;
}

.call_us a:hover {
    color: white;
}

/***********Welcome section settings********/

.welcome {
    width: 100%;
    height: 700px;
    background-color: transparent;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;    
}

.welcome .carousel-indicators button {
    background-color: #FFA12C;
    font-weight: bolder;
}

.welcome .carousel-indicators .active {
    background-color: #9663E1 !important;
}


.welcome .slide_controls {
        cursor: pointer;    
}

.welcome .carousel-caption {
    font-size: 30px;
    width: 50%;
    margin: auto;
    background-color: rgba(51, 51, 51, 40%);
    border: none;
}

/* Custom CSS for Carousel Controls */
.slide_controls {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.main_controls {
    margin-right: 20px;
    margin-left: 15px;       
}

.main_controls .carousel-control-next {
    margin-right: 20px;
}

.welcome .slide_controls i {
    color: purple;
}

.welcome .slide_controls i:hover {
    color: #FFA12C;
}

/*****Settings for Cards****/

.welcome .card {
    background-color: transparent;
    text-align: center;
}

.welcome .card h5 {
    color: #32A4EC;
    font-weight: bolder;
}

.welcome .card p {
    color: purple;
    font-weight: 400;
    margin-top: 20px;
}

.welcome .card-body i {
    color: #9663E1;
    font-size: 70px;
    margin-bottom: 10px;
}

/*************About Us*****************/
.about {
    margin-top: 300px;
    text-align: center;
    background-color: aliceblue;    
}

.about_logo img {
    height: 200px ;
    border-radius: 50%;
    margin: 30px 0 -30px;
}

.about .about_title {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #9663E1;
    padding: 10px;
}

.about p {
    text-align: justify;
    color: grey;
    font-weight: bold;
    width: 70%;
    margin: 80px 0px 100px 100px;
}

.about .about_profile h4 {
    text-align: center;
    color: #9663E1;
    margin-top: 20px;
}

.about .about_profile p {
    text-align: center;
    color: #32A4EC;
    margin: auto;
}

.about .about_profile img {
    margin-top: 30px;
}

/*******Service Settings************/
#services {
    background-color: transparent;
    margin-top: 40px;
    text-align: center;
}

.services .services_title {
    background-color: rgba(175, 171, 171, 45%);
    color: purple;
    padding: 20px;
    margin-bottom: 40px;
}

.services .col i {
    color: #32A4EC;
    font-size: 50px;
    margin: 20px; 
}

.services .col h5 {
    font-size: 25px;
    margin: 10px;
}

.services .col p {
    margin: 10px;
    font-weight: 500;
}

/**************Our Contact****************/
.contact .contact_title {
    text-align: center;
    margin-top: 40px;
    background-color: #FFA12C;
    margin-bottom: 40px;
    color: #ffffff;
}

.contact .social_contact {
    margin: auto;
    right: 0;
    left: 0;
    color: #9663E1;
    font-weight: bolder;
    font-size: 20px;
}

.contact .social_contact ul li {
    display: block;
    list-style: none;
    line-height: 2;
}

.contact .social_contact span {
    margin-left: 50px;
    
}

.contact .social_contact .addr_contact p {
    margin-left: 70px;
    margin-top: -18px;
}

.contact .form_title {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.contact .form_section {
    background-color: #9663E1;
    border-radius: 20px;
    height: 500px;
    margin-bottom: 40px;
}

.form_section form input {
    display: block;
    margin-left: 200px;
    padding: 4px;
    width: 50%;
    border-radius: 5px;
    border: none;
}

.form_section form .fname {
    margin-top: -25px;
    margin-bottom: 25px;
}

.form_section form .email {
    margin-top: -25px;
    margin-bottom: 20px;
}

.form_section form textarea {
    display: block;
    margin-left: 200px;
    margin-top: -20px;
    padding: 4px;
    width: 50%;
    border-radius: 5px;
    border: none;
}

.form_section form label {
    color: #ffffff;
    margin-left: 50px;
}

.form_section form input::placeholder, textarea::placeholder {
    color: #dbdbdb;
    padding: 20px;
}

/******************Footer settings*************/
.footer {
    min-height: fit-content;
    background-color: #FFA12C;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 70px;
    line-height: 2;
}

.left_footer ul {
    height: 200px;
    list-style: none;
    margin-top: 30px;
}

.middle_footer ul {
    height: 200px;
    list-style: none;
    margin-top: 30px;
}


.right_footer ul {
    list-style: none;
    margin-top: 30px;
}

.right_footer .row_1 a, .row_2 a {
    font-size: 30px;
}

.footer_right {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: bolder;
}